*{
    margin: 0;
    padding: 0;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1000;
    top: 0;
    left: 0;
  }
.img{
position: absolute;
width: 100%;
bottom: 0;

}
