@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Padauk&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/img/background-black.jpg");
}

.main-grid {
display: grid;
grid-template-columns: 2.5fr 1fr;
grid-template-rows: 100px auto auto auto auto auto 80px;
gap: 0px 0px;
grid-template-areas:
    "header header"
    "nav nav"
    "section section"
    "main aside2"
    "main ."
    "section2 section2"
    "footer footer";
}
.second-grid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 100px auto auto 80px;
gap: 0px 0px;
grid-template-areas:
    "header"
    "nav"
    "div"
    "footer";
}
.middle-div{
    grid-area: div;
    padding: 10px;
}

/* Header  */
.header { grid-area: header; 
position: relative;
}

.header-text {
position: absolute;
top: 35%;
right: 2%;


font-family: Tahoma;
color: whitesmoke;
letter-spacing: 4px;
text-transform: uppercase;
font-size: 17px;
font-family: 'Segoe UI',Arial,sans-serif;
}
.header-logo {
position: absolute;
top: 5%;
left: 0%;

}

/* NAV  */
.nav { grid-area: nav;  
font-weight: 600;
text-transform: uppercase;
width: 100%;
background: #5f5f5f;
color: #f1f1f1;
letter-spacing: 1px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#aktiv-meny{
    background-color: #ccab17;
}
.meny-flex{
height: 100%;
list-style-type: none;
}
.home-icon{
    width: 8%;

}
li {
width: 23%;
float: left;
}

li a {
display: block;
text-align: center  ;
letter-spacing: 1px;
padding: 9px 5px;
color: white;
font-size: 1.6em;
text-decoration: none;
}
li a:hover {
    background-color: #000000 !important;
}


/*Main, aside och sections */
.main { grid-area: main; 
}

/* Banner */
.section { grid-area: section; }

.section1, .section2, .aside, .middle-div{
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    border: solid 3px black;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: black;

}
.section1 {  
    color: black;
    padding: 15px;
}
.section2 {
    grid-area: section2;
    padding: 40px;
 
}
.aside { grid-area: aside2; 
    padding: 15px;
}
hr{
    margin: 5px 0 5px 0;
    color: black;
}
.vl {
    display: inline-block;
    border-left: 6px solid rgb(0, 0, 0);
    height: 96%;
    margin-left: 10px;
  }
#right-div{display: inline-block; width:49%;  float:right;}
#left-div{display: inline-block; width:49%; float:left;}

/*Footer och  backgrunden*/
.footer {
color: white;
grid-area: footer; 
position: relative;
text-align: center;
}
.center {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}
.ner-höger {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
}
.dokumentation_link{
    color: white;
}





/* Flex, Bilder */
.container {
    display: flex;
    flex-wrap: wrap;
}
.bild {
    margin: 5px;
    width: 24%;
    animation: bild_animation 5s infinite linear;

}

@keyframes bild_animation {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale(0.5, 0.5) rotate(180deg);
    }

    to {
        opacity: 1;
        transform: rotate(360deg);
        
    }
}


/* Boka ett bord */
.bord-flex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    
}
#bord1-div ,#bord2-div,#bord3-div,#bord4-div{
    height: 50px;
    border: solid 2px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(28, 172, 15);
    padding: 50px;
    align-items: center;

}

#submit-knapp{
    padding: 10px;
    border-radius: 20px;
}


#hidden-div{
    
    position: fixed;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    width: auto;
    top: 30%;
    z-index: 0;
    background-color: rgb(28, 172, 15);
    left: 10%;
    right: 10%;
    display: none;
}