<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Logo som kommer komma upp på browser flikern -->
    <link rel="icon" href="/img/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ismails Pizzeria - Om oss</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="second-grid">

        <!-- Header -->
        <header class="header">     
            <img src="/img/footer.jpg" height="100%" width="100%">
            <div class="header-logo"><a href="/"><img alt="Startsidans logo" src="/img/pizza-logo.png" width="90%" height="100%"></a></div>
            <div class="header-text">Mer än bara pizza</div>
        </header>

                
        <!-- Nav -->
        <nav class="nav">
            <ul class="meny-flex">
                <li class="home-icon"><a href="/"><i class="fa fa-home"></i></a></li>
                <li id="aktiv-meny"><a href="/templates/om-oss.html">Om oss</a></li>
                <li><a href="/templates/bestall-online.html">Beställ Online</a></li>
                <li><a href="/templates/boka-ett-bord.html">Boka ett bord</a></li>
                <li><a href="/templates/bilder.html">Bilder</a></li>
            </ul>
        </nav >

        
        <div class="middle-div">
            <h1 style="text-align: center;">OM OSS</h1>
            <p style="text-align: center;">Vi hälsar er välkomna till Ismails Pizzeria. 
                I våran pizzeria kan du sitta ned och avnjuta våra pizzor med riklig fyllning.
                Dessutom har vi pastarätter sallader med tradition-färska ingredienser.
                Kom in och smaka våra goda pizzor och vi lovar en härlig smakupplevelse.
                Vi erbjuder en trevlig och välkomnande restaurangmiljö som en naturlig mötespunkt för alla.
                våran personal önskar alla våra gäster en smaklig måltid. Välkommna!
            </p>
            <br>
            <img style="border-radius: 20px;" alt="Pizza bagare" src="/img/pizza-bagare.jpg" width="49%" height="350px">
            <img style="border-radius: 20px;" alt="Pizza bagare andra bild" src="/img/pizza-bagare2.jpg" width="49%" height="350px">

        </div>

        <!-- Footer -->
        <footer class="footer">
            <img src="/img/footer.jpg" height="100%" width="100%">
            <div class="center">© Copyright 2020 Ismails Pizzeria</div>
            <div class="ner-höger"><a class="dokumentation_link"target="blank_" href="/misc/dokumentation.html">Dokumentation</a></div>
        </footer>
    </div>

</body>
</html>
